/*----------------------------CONTACT-----------------------------*/

.contener-contact {
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}

.erreur {
    background-color: #A10684;
    padding: 1%;
    text-align: center;
    color: white;
}

.success {
    background-color: green;
    padding: 1%;
    text-align: center;
    color: white;
}

.contener-contact h1 {
    font-size: 3rem;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-right: 1%;
    margin-top: 30px;
}

.trait-contact {
    width: 100%;
    background-color: #A10684;
    height: 2.5px;
    margin-top: 15px;
}

form {
    width: 80%;
    margin: 10% auto;
    height: 320px;
}

.ligne-form-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

label {
    color: #677179;
    font-weight: 600;
}

.ligne-form-1 input {
    border: 1px solid #C9A0DC;
    border-radius: 5px;
    width: 25%;
    height: 20px;
    font-size: 0.8em;
    font-weight: 300;
    font-style: italic;
}

.ligne-form-2 {
    margin-bottom: 5%;
}

#Com {
    width: 100%;
    height: 150px;
    border: 1px solid #C9A0DC;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    resize: none;
}

.validation {
    text-align: left;
    margin-top: 50px;
}

.validation input{
    text-align: center; 
    font-size: 0.9em;
    font-weight: 300;       

}

.facebook {
    width: 3%;
    margin-left: 10%
}

.facebook img {
    width: 100%;
}

/*-------------------------------RESPONSIVE--------------------------------*/

@media screen and (min-width:1100px) and (max-width:1400px) {
    .facebook {
        width: 5%;
        margin-top: 15%;
        margin-left: 10%;
    }

    .validation {        
        margin-top: 40px;
             
    }

    .validation input{
        text-align: center;        
        width:150px;
        font-size: 0.9em;
        font-weight: 300;
        

    }

}


/*-------------------------------TABLET--------------------------------*/

@media screen and (min-width:968px) and (max-width:1100px) {
    form {
        width: 100%;
        margin: 10% auto;
        height: 320px;
    }

    .ligne-form-1 label{       
        margin: 0 2%;
    }

    .ligne-form-1 input, #com {
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        font-style: italic;
        
    }

    .validation {        
        margin-top: 20px;
             
    }

    .validation input{
        text-align: center;      
        width:150px;
        font-size: 0.9em;
        font-weight: 300;       

    }
    
    .facebook {
        width: 5%;
        margin-top: 15%;
        margin-left: 0%;
    }
}


/*-----------------------------MOBILE-------------------------------*/

@media screen and (min-width:300px) and (max-width:968px) {
    
    .contener-contact{
        margin: 20% auto;
        width: 80%;
    }
    form {
        width: 100%;
        margin: 20% auto;
        height: 400px; 
    }

    .ligne-form-1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      
    }
    
    .ligne-form-1 label{
        width: 100%;
        margin-top: 5%;
    }

    .ligne-form-1 input, #com {
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        font-style: italic;
        
    }

    .validation {
        text-align: left;
        margin-top: 2%;
    }

    .validation input{
        text-align: center;    
        width:150px;
        font-size: 0.9em;
        font-weight: 300;
        margin: 1% 0;       

    }
    
    .facebook {
        width: 10%;
        margin-left: 0%;
        margin-top: 55%;
    }    
}