/*----------------------------CONTACT-----------------------------*/

.contenerContact {
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}

.erreur {
    background-color: #A10684;
    padding: 1%;
    text-align: center;
    color: white;
}

.success {
    background-color: green;
    padding: 1%;
    text-align: center;
    color: white;
}

form {
    width: 100%;
    margin: 4% auto;
}

.columnFormulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
label {
    color: #677179;
    font-weight: 600;
    margin: 6% 0 1% 0;
    font-size: 1.8rem;
}

input {
    border: 2px solid #C9A0DC;
    border-radius: 5px;
    width: 100%;
    height: 3vh;
   
}

::placeholder{
    color: #677179;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    padding: 2% 0 0 2%;

}

.columnForm1,
.columnForm2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columnForm1{
    width: 25%;
}

.columnForm2 {
    width: 50%;
}

.columnForm2 select{
    width: 30%;
    height: 3.5vh;
    border: 2px solid #C9A0DC;
    border-radius: 5px;
    padding-left: 2%;
    margin-bottom: 2%;
}

#Com {
    width: 100%;
    height: 12vh;
    border: 2px solid #C9A0DC;
    border-radius: 5px;
    resize: none;
}

.validation {
    text-align: center;
    margin-top: 50px;
}

.validation input{
    width: 20%;
    background-color: #A10684;
    border-radius: 10px;
    height: 5vh;
    border: none;
    margin: 2% 2%;
    box-shadow: 0 5px 7px rgba(71, 71, 71, 0.4)  ; 
	-webkit-box-shadow: 0 5px 7px rgba(71, 71, 71, 0.4)  ; 
	-moz-box-shadow: 0 5px 7px rgba(71, 71, 71, 0.4)  ; 
    color: white;
    font-size: 2rem;
    font-weight: 500;       

}

.facebook {
    width: 3%;
    margin-left: 10%
}

.facebook img {
    width: 100%;
}

/*-------------------------------RESPONSIVE--------------------------------*/

@media screen and (min-width:1100px) and (max-width:1400px) {
    .facebook {
        width: 5%;
        margin-top: 15%;
        margin-left: 10%;
    }

    .validation {        
        margin-top: 40px;
             
    }

    .validation input{
        text-align: center;        
        width:150px;
        font-size: 0.9em;
        font-weight: 300;
        

    }

}


/*-------------------------------TABLET--------------------------------*/

@media screen and (min-width:968px) and (max-width:1100px) {
    form {
        width: 100%;
        margin: 10% auto;
        height: 320px;
    }

    .ligne-form-1 label{       
        margin: 0 2%;
    }

    .ligne-form-1 input, #com {
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        font-style: italic;
        
    }

    .validation {        
        margin-top: 20px;
             
    }

    .validation input{
        text-align: center;      
        width:150px;
        font-size: 0.9em;
        font-weight: 300;       

    }
    
    .facebook {
        width: 5%;
        margin-top: 15%;
        margin-left: 0%;
    }
}


/*-----------------------------MOBILE-------------------------------*/

@media screen and (min-width:300px) and (max-width:968px) {
    
    .contener-contact{
        margin: 20% auto;
        width: 80%;
    }
    form {
        width: 100%;
        margin: 20% auto;
        height: 400px; 
    }

    .ligne-form-1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      
    }
    
    .ligne-form-1 label{
        width: 100%;
        margin-top: 5%;
    }

    .ligne-form-1 input, #com {
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        font-style: italic;
        
    }

    .validation {
        text-align: left;
        margin-top: 2%;
    }

    .validation input{
        text-align: center;    
        width:150px;
        font-size: 0.9em;
        font-weight: 300;
        margin: 1% 0;       

    }
    
    .facebook {
        width: 10%;
        margin-left: 0%;
        margin-top: 55%;
    }    
}