/*----------------------------BANDE DON-----------------------------*/
.fond-don {
    margin-top:8%;
    background: transparent url(../assets/img/accueil/abuYago.png) top center no-repeat;
    height: 38vh;
    width: 100%;
    background-size: cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
   
}

.fond-don p {
    font-size: 7rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Baloo 2', cursive;
    src: url("../fonts/Baloo2-Bold.ttf") format("ttf");
    text-shadow: 1px 1px 2px #000;
}

.boutonDon{
    width: 12%;
    margin-top: 2%;
}

/*-------------------------------RESPONSIVE--------------------------------*/

/*------------------------------TABLET-------------------------------*/

@media screen and (min-width:968px) and (max-width:1100px) {

    .fond-don {
        /*    border: 2px solid cornflowerblue;*/
        background: transparent url(../img/image-fond/fond-don.png) top center no-repeat;
        height: 400px;
        width: 100%;
        background-size: cover;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    
}

/*-----------------------------MOBILE-------------------------------*/

@media screen and (min-width:300px) and (max-width:968px) {

    .fond-don {
        /*    border: 2px solid cornflowerblue;*/
        background: transparent url(../img/image-fond/fond-don.png) top center no-repeat;
        height: 280px;
        width: 100%;
        background-size: cover;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:20%; 
    }

    .don p {
        font-size: 2rem;
        font-weight: 600;
    }

    /*-------------------------------bouton--------------------------------*/

    .bouton-animaux, .bouton-don {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
    }

    .bouton-association, .bouton-boutique{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }

    .bouton-association>.icone-bouton{
        background-color: #A10684;
        border-radius: 5px;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        padding: 1%;
        margin-top: 2%;
       
    }

    .bouton-boutique>.icone-bouton{
        background-color: #A10684;
        border-radius: 5px;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        padding: 2%;
        margin: 18% 0;
        width: 100%
    }

    .bouton-animaux>.icone-bouton{
        background-color: #A10684;
        border-radius: 5px;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        padding: 1%;
        margin-top: 10%;
        
    }

    .bouton-don>.icone-bouton{
        background-color: #A10684;
        border-radius: 5px;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        padding: 0.6%;
        
    }

    .icone-bouton a {
        color: white;
        text-decoration: none;
    }
}