/*----------------------------FOOTER----------------------------*/
footer {
    background-color: #e1cbec;
    padding-bottom: 4vh;
    width: 100%;
}

.contener-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contener-footer p{
    padding: 0;
    font-size: 1.6rem;
}

.sous-legende2 p{
    font-size: 2rem;
    color: #A10684;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin-top: 5%;
}

.onglet-bas {
    width: 100%;
    text-align: center;
    margin: 1% auto;
}

.onglet-bas li {
    list-style: none;
    display: inline-block;
    margin-right: 2%;
}

.onglet-bas li:last-child {
    margin-right: 0;
}

.onglet-bas li a {
    margin-top: 3%;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.facebook {
    width: 1%;
}

.facebook img {
    width: 100%;
    border-radius: 0;
}

#avertissement {
    position: fixed;
    bottom: 0;
    right: 0;
    background: white;
    display: table;
    width: 100%;
}

#avertissement p {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
    padding: 0;
}

#avertissement span {
    position: relative;
    -webkit-animation: linear marqueelike 12s 4;
    -moz-animation: linear marqueelike 12s 4;
    -o-animation: linear marqueelike 12s 4;
    -ms-animation: linear marqueelike 12s 4;
    animation: linear marqueelike 12s 4;
    display: block;
    margin-left: -100%;
    padding-bottom: 0.5%;
}

#avertissement span:after {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    margin-bottom: 7px;
}

@-webkit-keyframes marqueelike {
    0%,
    100% {
        max-height: 18px;
        margin-left: 100%;
    }
    99.99% {
        margin-left: -50%;
    }
}

@-moz-keyframes marqueelike {
    0%,
    100% {
        max-height: 18px;
        margin-left: 100%;
    }
    99.99% {
        margin-left: -50%;
    }
}

@-o-keyframes marqueelike {
    0%,
    100% {
        max-height: 18px;
        margin-left: 100%;
    }
    99.99% {
        margin-left: -50%;
    }
}

@-ms-keyframes marqueelike {
    0%,
    100% {
        max-height: 18px;
        margin-left: 100%;
    }
    99.99% {
        margin-left: -50%;
    }
}

@keyframes marqueelike {
    0%,
    100% {
        max-height: 18px;
        margin-left: 100%;
    }
    99.99% {
        margin-left: -50%;
    }
}



/*-------------------------------CONTACT EQUIPE--------------------------------*/

.contener-equipe,
.contener-mention,
.contener-plan {
    width: 70%;
    margin: 6% auto;
}

.contener-equipe h2 {
    margin-top: 3%;
    padding: 0;
    text-align: center;
    text-decoration: underline;
}

.contener-equipe p {
    font-size: 1.9rem;
    color: black;
    text-align: center;
    padding: 0;
}

/*-------------------------------CSS MENTION LEGALE--------------------------------*/
.contener-mention h1 {
    margin-top: 5%;
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

.contener-mention p {
    margin-top: 3%;
}

.contener-mention article {
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    text-align: center;
}

.contener-mention article a {
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
    text-align: center;
}

/*-------------------------------CSS PLAN DU SITE--------------------------------*/
.contener-plan h2 {
    text-align: left;
    padding: 1% 0 0 2%;
    font-size: 2.2rem;
    color: rgb(38, 0, 255);
    font-weight: 300;
    
}

.contener-plan h4 {
    font-size: 2rem;
    color: black;
    font-weight: 300;
    padding-left:5%;
    padding-top: 0.5%;
  
}
.facebook {
    width: 2%;
}
/*-------------------------------RESPONSIVE--------------------------------*/

@media screen and (min-width:1100px) and (max-width:1400px) {
    .facebook {
        width: 4%;
    }

    .contener-equipe,
    .contener-mention,
    .contener-plan {
        width: 90%;
        margin: 6% auto;
        margin-top: 15%;
    }
}


/*------------------------------TABLET-------------------------------*/

@media screen and (min-width:968px) and (max-width:1100px) {

    .contener-footer, 
    .contener-plan {
        width: 100%;
        margin: 0 auto;
    }

    footer {
        background-color: #e1cbec;
        padding: 10px;
        margin-top: 80px;
        padding-bottom: 48px;
        width: 100%
    }

    .onglet-bas {
        margin: 0 auto;
        width: 60%;
        text-align: center;
    }

    .facebook {
        width: 4%;
        margin-top: 0;
    }

}
/*-----------------------------MOBILE-------------------------------*/

@media screen and (min-width:300px) and (max-width:968px) {
    .contener-footer, 
    .contener-plan {
        width: 70%;
        margin: 0 auto;
    }

    footer{
        margin: 0 auto;
    }

    footer {
        background-color: #e1cbec;
        padding: 10px;
        margin-top: 80px;
        padding-bottom: 48px;
        width: 95%
    }
    
    .onglet-bas {
        margin: 0 auto;
        width: 60%;
        text-align: center;
    }
    
    .onglet-bas li {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    .onglet-bas li a {
        font-size: 2rem;
        color: black;
        font-weight: 300;
        text-decoration: none;
    }
    
    footer span {
        margin-left: 0%;
        
    }

    #avertissement{
        display: none;
    }
}