/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/


/*-------------------------------RESET-------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
}


/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

html {
    font-size: 55%;
    /* box-sizing: border-box; */
    
}

body {
    line-height: 1;
    font-size: 1.6rem;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*-------------------------------SITE--------------------------------*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

img{
    width: 100%;
    border-radius: 15px;
}

button{
    width: 100%;
    background-color: #A10684;
    border-radius: 10px;
    height: 5vh;
    border: none;
    box-shadow: 0 5px 7px rgba(71, 71, 71, 0.4)  ; 
	-webkit-box-shadow: 0 5px 7px rgba(71, 71, 71, 0.4)  ;
	-moz-box-shadow: 0 5px 7px rgba(71, 71, 71, 0.4)  ;
    margin: 2%;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

a{
    text-decoration: none;
    width: 40%;
    cursor: pointer;
}

hr{
    width: 12%;
    height: 1px;
    background-color: #BB91B9;
}

h2{
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}

span{
    font-weight: 600;
}

p{
    font-size: 1.9rem;
    font-weight: 300;
    padding-top: 5%;
}


/*-------------------------------HEADER--------------------------------*/
header {
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 0; right: 0; top: 0;
    z-index: 10000;
    background-color: #ffff;
    box-shadow: 0 1px 2px rgba(71, 71, 71, 0.1)  ; 
	-webkit-box-shadow: 0 1px 2px rgba(71, 71, 71, 0.1)  ; 
	-moz-box-shadow: 0 1px 2px rgba(71, 71, 71, 0.1)  ; 

}
.contenerLogo{
    width: 3%;
    padding: 0.5% 2%;
}
.logo-mobile{
    display: none;
} 

/*-------------------------------NAV--------------------------------*/
nav {
    width: 89%;;
    margin: 0 auto;
    text-align: left;
    margin-top: 40px;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

nav li {
    margin-right: 30px;
    display: inline-block;
    padding: 0;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    display: block;
    font-size: 1.7rem;
    color: black;
    font-weight: 400;
    text-decoration: none;
    padding: 0px 8px;
    width: 100%;
}

nav li a:hover {
    color: #FF5E4D;
    border-bottom: #FF5E4D 1px solid;
    text-align: center;
    opacity: .6;
    font-weight: 600;
}

#nav-burger{
    display: none;
}

/*-------------------------------VIDEO--------------------------------*/
.contenerVideo{
    width: 100%;
    height: 850px;
    margin:0;
    position: relative;
}

section.headerTitle{
    width: 30%;
    height: 65vh;
    /* background-color: pink; */
    border-radius: 15px;
    position: absolute;
    top: 420px;
    right: 50px;
    padding: 2%;
    background-color: rgba(255, 255,255,0.8);
    box-shadow: 0 5px 7px rgba(71, 71, 71, 0.2)  ; 
	-webkit-box-shadow: 0 5px 7px rgba(71, 71, 71, 0.2)  ; 
	-moz-box-shadow: 0 5px 7px rgba(71, 71, 71, 0.2)  ; 
}

.headerTitle h2{
    font-size: 2.2em;
    width: 85%;
    font-weight: 600;
    text-align: right;
    line-height: 1.4em;
    margin-left: 12%;
}

.buttonTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 12%;
    cursor: pointer;
}

/*-------------------------------RESPONSIVE--------------------------------*/

@media screen and (min-width:1200px) and (max-width:1400px) {
    /* body{
        background-color: #FF5E4D;
    } */

    .contenerLogo {
        width: 4%;
    }

    .contenerVideo{
        width: 100%;
        height: 850px;
        margin:0;
        position: relative;
    }
    nav {
        width: 82%;;
    }
    section.headerTitle{
        width: 40%;
    }
}

/*------------------------------TABLET-------------------------------*/

@media screen and (min-width:968px) and (max-width:1200px) {

    /* body{
        background-color: yellow;
    } */
    .contenerLogo {
        width: 6%;
    }

    .contenerVideo{
        width: 105%;
        height: 500px;
    }

    .contenerVideo video{
        width: 100%;
        height: 550px;
    }

    nav {
        width: 85%;;
        margin: 0 auto;
        margin-top: 40px;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: right;
    }
    section.headerTitle{
        width: 80%;
        height: 55vh;
        top: 280px;
        right:35px;
    }
    .headerTitle h1{
        width: 70%;
        margin: 0 auto;
    }
    .headerTitle h2 {
        font-size: 2.2em;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .buttonTitle{
        align-items: center;
        margin:0;
    }
    #nav-burger{
        display: none;
    }
}    

   



/*-----------------------------------MOBIL------------------------------------*/


@media screen and (min-width:300px) and (max-width:968px) {

    .contener-logo {
        width: 100%;
    }
    /* body{
        background-color: aqua;
    } */
    header {
        background: url(../img/image-fond/yago-abu.jpg) no-repeat 66% 70%;
        background-size: cover;
        position: relative;
        margin-bottom: 20px;
        height: 290px;
    }

    .logo{
        display: none;
    }

    .logo-mobile{
        display: block;
        top: 70%;
        left: 52%;
        transform: translate(-50%, -50%);
        height: 400px;
        position: absolute;
        width: 300px;

    }

    .logo-mobile img{
        width: 100%;

    }

    nav li {
        margin-right: 45px;
        display: block;
        padding: 0;
    }

    nav li a {
        display: block;
        font-size: 2.3rem;
        color: black;
        font-weight: 600;
        text-decoration: none;
        text-align: left;
        padding: 0 20px;
    }

    nav li a:hover {
        color: #FF5E4D;
        border-bottom: #FF5E4D 0px solid;
        opacity: .6;
        padding: 0 40px;
        /* border-radius: 2px;
        border: 2px solid #FF5E4D; */
    }


    nav ul li:hover ul {
        display: block;
        padding-top: 2%;
        position: absolute;
        left: 30%;
        top: 32%;
    }


    #nav-site{
        display: none;
    }

    #nav-burger{
        display: block;
    }


    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 20px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        /* pour cacher le menu */
        z-index: 1000;
        /* et pour placer le menu burger à la place */
        -webkit-touch-callout: none;
    }


    /*-------------------trait du men burger-----------------------------------*/

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background:  #e1cbec;
        border-radius: 3px;
        z-index: 1000;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    /* -----------------------Transformation en croix---------------------------*/

    /* -----------------------barre du dessus---------------------------*/
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }


    /* ---------------barre du milieu que l'on fait disparaitre-----------*/

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }


    /* -----------------------barre du bas qui se forme la croix------------------*/

    #menuToggle input:checked~span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 40%;
        top: 300%;
        margin: -105px 0 0 -20px;
        padding: 2% 58% 70% 0;
        padding-top: 100px;
        background-color: rgba(201, 160, 220, .9);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* pour corriger sur safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        border-radius: 5px;
        
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
        margin: 0 auto;
    }

    /* -----------------------Pour amener le menu sur la gauche-----------------*/

    #menuToggle input:checked~ul {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }    

    #haut-de-page {
        width: 9%;
        opacity: .4;
        margin-left: 86%;
        position: fixed;
        z-index: 900;
    }
}