/*-------------------------------ASSOCIATION--------------------------------*/

.contener {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 5% auto;
}
.contener article {
    width: 70%;
    text-align: left;
}
.contenerImg{
    width: 50%;
    margin: 0 4%;
}

.assoImg{
    width: 100%;
}
.backgroundAsso{
    position: relative;
    background-color: #e1cbec;
    width: 60%;
    height: 60rem;
    border-radius: 8px;
    margin-bottom: 10%;
}

.contenerEquipe{
    width: 100%;
    height: 140rem;
    background-image: url(../assets/img/accueil/BgSirius.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.team{
    padding: 3% 10%;
    position: absolute;
    top: 15%;
    background-color: #ffff;
    min-height: 70rem;
}

/*-------------------------------EVENEMENT--------------------------------*/
.contenerActivity{
    margin-top: 5%;
}

.activity article,
.don article{
    width: 25%;
    background-color: rgba(201, 160, 220, 0.3);
    border-radius: 15px;
    padding: 3%;
    padding-top: 4%;
    min-height: 58rem;
}

.don article{
   min-height: 46rem;
}

.activity article h3,
.contener article h3{
    font-size: 2.2rem;
    text-align: center;
}

.activity p{
    min-height: 44rem;
}

.event {
    color: blue;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}

.activity button,
.don button{
    float: right;
    width: 70%;
    
}

/*------------------------------NOUS AIDER-------------------------------*/
.contenerDon{
    margin-top: 5%;
}

.sous-legende {
    width: 70%;
    font-size: 1.8rem;
    color: black;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin: 2% auto;
    
}

strong{
    font-weight: bold;
}

.coordonnée{
    text-align: center;
}


/*-------------------------------RESPONSIVE--------------------------------*/
@media screen and (min-width:1200px) and (max-width:1600px) {
    /* body{
        background-color: yellowgreen;
    } */
    .background {
        width: 10%;
        left: 168px;
        top: -28vh;
        height: 125vh;
    }
    .contener{
        width: 90%;
        margin-top: 10%;
    }

    .sous-legende{
        width: 90%;
    }

    .contenerEquipe{
        background-image: url(../assets/img/accueil/sirius2.png);
    }

    .team{
        right: -112px;
    }
    .activity article {
        width: 27%;
        min-height: 62vh;
    }

    .don article {
        min-height: 51rem;
    } 

    .don button,
    .activity button{
        margin-top: 9%;
    }
}



@media screen and (min-width:1000px) and (max-width:1200px) {
    /* body{
        background-color: pink;
    } */
    .background {
        width: 10%;
        left: 168px;
        top: -28vh;
        height: 125vh;
    }
    .contener{
        width: 90%;
    }

    .sous-legende{
        width: 100%;
    }

    .contenerAssociation{
        height: 95vh;
    }
    .asso{
        left: 35px;
        top: 110vh;
    }

    .contenerEquipe{
        background-image: url(../assets/img/accueil/sirius2.png);
    }
    .team{
        right: -40px;
        height: 75vh;
    }
    .activity article {
        width: 28%;
        min-height: 62vh;
    }

    .don article {
        min-height: 51rem;
    } 

    .don button,
    .activity button{
        margin-top: 9%;
    }
}    

/*------------------------------TABLET-------------------------------*/

@media screen and (min-width:500px) and (max-width:1000px) {

    /* body{
        background-color: yellow;
    } */

    .background {
        width: 10%;
        left: 168px;
        
    }
    .asso{
        flex-direction: row;
        left: 4%;
        top: 90vh;
        width: 100%;
        margin: 2% auto;
        justify-content: space-around;
        align-items: center;
    }

    .contener,
    .contenerDon{
        width: 90%;
        margin: 0 auto;
    }

    .contenerDon .sous-legende{
        margin-top: 33%;
    }

    .sous-legende{
        width: 100%;
    }

    .contenerImg{
        width: 42%;
        margin-top: 15%;
    }

    .contener article{
        width: 45%;
    }

    .contenerEquipe{
        background-image: url(../assets/img/accueil/siriusTablet.png);
    }

    .activity,
    .don{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activity article,
    .don article{
        width: 100%;
        min-height: 0;
        margin: 3% auto;
    }   

    .activity button,
    .don button{
        width: 30%;
    }

    .coordonnée{
        margin-bottom: 4%;
    }

   
}     


/*-----------------------------------MOBIL------------------------------------*/
@media only screen and (max-width: 700px) {
    img{
        border-radius: 8px
    }
    .contener {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 8% auto;
    }

    .contenerImg{
        width: 80%;
    }
   
    .contener article{
        width: 90%;
        padding-top: 10%;
    }


    .contenerEquipe {
        background-image: url(../assets/img/accueil/siriusMobil.png);
        min-height: 180rem;
    }

    .team{
        padding: 10% 0;
        top: 14rem;
    }

    .contenerActivity{
        margin-top: 10%;
    }

    .activity p {
        min-height: 48rem;
    }
    .activity article,
    .don article{
        min-height: auto;
        margin-bottom: 10%;
        width: 80%;
    }

    article p{
        padding: 5%;
    }
}
